{% extends "base.html" %}
{% block title %}Contact{% endblock title %}
{% block body %}
<div class="container">
    <img src="https://images.unsplash.com/photo-1532356884227-66d7c0e9e4c2?ixid=MnwzODYwMzd8MHwxfHNlYXJjaHw3fHxwaG9uZXxlbnwwfHx8fDE2NzAwMDkxMTk&ixlib=rb-4.0.3" style="width:90vw ; height:90vh" alt="..." />
    <h2>Contact Us: IceCream@gmail.com</h2>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Number">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">FeedBack</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
</div>
<button class="btn btn-primary" type="submit">Submit</button>
{% endblock body %}
