{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1591261730540-1ab1db33ac78?ixid=MnwzODYwMzd8MHwxfHNlYXJjaHwyfHxpY2VjcmVhbSUyMHNob3B8ZW58MHx8fHwxNjY5OTgxNDg5&ixlib=rb-4.0.3" style="width:100vw ; height:90vh" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Welcome To The World Of IceCream!!</h5>
                    <p>"The Place To Fulfill Your Cravings"</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1554647098-5199748c9138?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzODYwMzd8MHwxfHNlYXJjaHw0fHxpY2VjcmVhbSUyMHNob3B8ZW58MHx8fHwxNjY5OTgxNDg5&ixlib=rb-4.0.3&q=80&w=1080" style="width:100vw ; height:90vh" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Customized Cones Just For your Loved Ones</h5>
                    <p>"You'll Won't Have It Enough"</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1591261730587-6901c2b24b76?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzODYwMzd8MHwxfHNlYXJjaHw2fHxpY2VjcmVhbSUyMHNob3B8ZW58MHx8fHwxNjY5OTgxNDg5&ixlib=rb-4.0.3&q=80&w=1080" style="width:100vw ; height:90vh" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Customized Cups</h5>
                    <p>"The Cups Which Will Melt Your Heart"</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>




<div class="container" my-3>
<h1>Select From The Below Category</h1></div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
        <div class="card shadow-sm">
            <img src="https://images.unsplash.com/photo-1591261730540-1ab1db33ac78?ixid=MnwzODYwMzd8MHwxfHNlYXJjaHwyfHxpY2VjcmVhbSUyMHNob3B8ZW58MHx8fHwxNjY5OTgxNDg5&ixlib=rb-4.0.3" style="width:32.2vw ; height:30vh" alt="...">
            <div class="card-body">
                <p class="card-text">
                    A little lick of frozen cream every now and then, goes a long, long way.
                    A surprise in every lick.
                    All gloomy weather is meaningless in the face of ice cream.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <img src="https://images.unsplash.com/photo-1554647098-5199748c9138?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzODYwMzd8MHwxfHNlYXJjaHw0fHxpY2VjcmVhbSUyMHNob3B8ZW58MHx8fHwxNjY5OTgxNDg5&ixlib=rb-4.0.3&q=80&w=1080" style="width:32.2vw ; height:30vh" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Always in the mood for sprinkles and sugar cones.
                    Brain freeze!
                    Cold treats are my kind of comfort food.
                    Eat gelato like there’s no tomorrow!.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <img src="https://images.unsplash.com/photo-1591261730587-6901c2b24b76?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzODYwMzd8MHwxfHNlYXJjaHw2fHxpY2VjcmVhbSUyMHNob3B8ZW58MHx8fHwxNjY5OTgxNDg5&ixlib=rb-4.0.3&q=80&w=1080" style="width:32.2vw ; height:30vh" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Enjoy the chilly, little things.
                    Every spoonful brings me closer to heaven.
                    Everything is sweeter and more colorful with sprinkles on top.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock body %}