{% extends "base.html" %}
{% block title %}Services{% endblock title %}
{% block body %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    </div>
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1436491911682-72ab1d398f59?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzODYwMzd8MHwxfHNlYXJjaHw0fHxjdXAlMjBpY2UlMjBjcmVhbXxlbnwwfHx8fDE2NzAwMTU3MTQ&ixlib=rb-4.0.3&q=80" style="width:100vw ; height:90vh" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Cup IceCreams </h5>
                <p>Manufacturer of a wide range of products which include Strawberry Ice Cream In Cup, Vanilla,Butterscotch,Chocolate Cup Ice Cream, Butterscotch Cup Ice Cream and  Chocolate Ice Cream..</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock body %}
